.titles-list {
  background: #f1f0f0;
  padding: 20px;
  margin-top: 20px;
  min-height: 300px;
}
.title-item {
  font-family: "PT Sans Narrow";
  border: 1px solid #cecece;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}
.title-item:nth-of-type(n + 2) {
  margin-top: 10px;
}
.title-item.selected {
  border-color: #dc0c68;
  background: #dc0c68;
  color: white;
  text-shadow: 1px 1px 0px #000000;
}
.title-item div {
  text-transform: uppercase;
  text-align: center;
}
.title-item div.name {
  font-size: 22px;
  font-weight: bold;
}
.title-item div.description {
  font-size: 12px;
}
/*# sourceMappingURL=main.css.map */