.titles-content {
  display: none;
}
.titles-content.show {
  display: block;
}
.titles-content.white span {
  color: white;
}
.titles-content span {
  font-family: "PT Sans Narrow";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
}
.titles-content span#name {
  font-size: 60px;
  bottom: 105px;
  font-weight: bold;
}
.titles-content span#description {
  font-size: 30px;
  bottom: 70px;
}
/*# sourceMappingURL=title.css.map */