.titles-content {
  display: none;

  &.show {
    display: block;
  }

  &.white span {
    color: white;
  }

  span {
    font-family: "PT Sans Narrow";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;

    &#name {
      font-size: 60px;
      bottom: 105px;
      font-weight: bold;
    }

    &#description {
      font-size: 30px;
      bottom: 70px;
    }
  }
}